<header>
<h1>Freshco.</h1>
</header>

<nav>
<div class="nav-items"><a [routerLink]="['/SALE']">Sale</a></div>
<div class="nav-items"><a [routerLink]="['/FARMBOXES']">Farmboxes</a></div>
<div class="nav-items"><a [routerLink]="['/FRUIT']">Fruit</a></div>
<div class="nav-items"><a [routerLink]="['/VEGETABLES']">Vegetables</a></div>
<div class="nav-items"><a [routerLink]="['/MEAT']">Meat</a></div>
<div class="nav-items"><a [routerLink]="['/SEAFOOD']">Seafood</a></div>
<div class="nav-items"><a [routerLink]="['/PANTRYESSENTIALS']">Pantry essentials</a></div>
<div class="nav-items"><a [routerLink]="['/DAIRY']">Dairy</a></div>
<div class="nav-items"><a [routerLink]="['/ACAI']">Acai</a></div>
<div class="nav-items"><a [routerLink]="['/MILKBAR']">Milkbar</a></div>
<div class="nav-items"><a [routerLink]="['/UPGRAIN']">Upgrain&copy;</a></div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>
<footer>
&COPY;2024
</footer>

